.footer{
    /* border: 1px solid gray; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.footer-container {
    height: 40vh;
    background-color: #f8f8f8;
    padding:20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
  }
  .footer-container h2{
    font-size: 40px;
    font-family: cursive
  }
.sub-footer{
    display: flex;
    gap: 80px;
    font-size: 20px;
}
.booking, .services{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.booking ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.services ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
 .newsletter{
    display: flex;
    flex-direction: column;
    gap: 10px;
 } 
.newsletter form {
    display: flex;
    margin-top: 10px;
  }
  
.newsletter form input {
    flex: 1;
    padding: 8px;
  }
  
.newsletter form button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}
.copy-right{
    padding: 20px;
    background-color: #f8f8f8;
    font-size: 18px;
    width: 100%;
    text-align: center;
}
  