.head-info{
   text-align: center;
   margin: 30px;
   font-size: 40px;
   text-transform: uppercase;
   text-decoration: underline;
   color: blue;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 30px;
}

.grid-item {
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 8px;
  width: 400px;
  margin: 20px;
  background: #edede9;
}

.grid-item img{
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.service-info{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}